@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-color: #000;
}

@layer base {
  * {
    font-family: var(--font-helvetica);
  }

  :root {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}